.task-form {
  background-color: #ffffcc;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: min(90%, 600px);
  margin: 10px auto;
  padding: 15px;
}

.task-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  width: 100%;
}

.task-button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.task-item {
  background-color: #ffffcc;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min(90%, 600px);
  align-items: center;
  text-align: center;
  margin: 10px auto;
}

.task-item.completed {
  background-color: #ccffcc;
}

.task-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.task-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-text {
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.task-edit-form {
  background-color: #ffffcc;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.task-edit-form.completed {
  background-color: #ccffcc;
}

.task-edit-buttons,
.task-edit-actions {
  display: flex;
  gap: 10px;
}

.task-edit-input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.task-edit-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.task-edit-button:hover {
  background-color: #e0e0e0;
}
